<p id="notice"><%= notice %></p>

<h1>Listing Peer Reviews</h1>

<%= link_to 'New Peer review', new_peer_review_path %>
<br>
<br>

<table>
  <% @names.each_with_index do |name, name_index| %>
    <% @names_to_reviews[name].each_with_index do |review, index| %>
      <% label = ((index == 0) ? name : '') %>
      <% if name_index > 0 && index == 0%>
        <tr><td colspan="2"><hr/></td></tr>
      <% end %>
      <tr>
        <td><%= label %></td>
        <td><%= link_to "#{Date::MONTHNAMES[review.month]} #{review.year}", review %></td>
      </tr>
    <% end %>
  <% end %>
</table>

